<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>dynamicJavascript Exemples</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    {% javascripts 
    '@FloarcDynamicJavascriptBundle/Resources/public/js/simple.js'
    output='js/simple_output.js' 
    %}
    {#
    output='js/person.js'
    #}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    
        
  </head>
  <body>
    <header>
        <div class="container">
        dynamicJavascript Exemples
        </div>
    </header>
    </container>
        <div>
        Exemple of generation of one single js.<br />
        You should have seen an alert saying :<br />
        "Luna is a girl who has 36 years and mesure 1.75m."<br />
        <br />
        {{ text }}         
        </div>
        <div>
        </div>        
    </container>
    </body>
</html>